<div class="container">
  <h2 class="mt-2">Clientes</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ client.id ? 'Editar Cliente' : 'Cadastrar Cliente' }}</li>
  </ol>
</div>
<div class="container">
  <form #clientform="ngForm" (ngSubmit)="onSubmit()" class="form" [class.was-validated]="formTouched && client.id">
    <!-- Conteúdo do formulário -->
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Cliente adicionado/salvo com sucesso!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name" #name="ngModel" required
            pattern="^[A-Z][a-z]+( [A-Z][a-z]+)*$" (blur)="onFieldTouched(name)"
            [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
            [class.is-valid]="name.valid && (name.dirty || name.touched)" />
          <div class="invalid-feedback" *ngIf="name.invalid">
            Campo Obrigatório. Digite o nome e sobrenome com iniciais maiúsculas sem acentos.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Email: *</label>
          <input type="email" class="form-control" placeholder="Ex: cliente@gmail.com" [(ngModel)]="client.email" name="email" #email="ngModel" required
            email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" (blur)="onFieldTouched(email)"
            [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
            [class.is-valid]="email.valid && (email.dirty || email.touched)" />
          <div class="invalid-feedback" *ngIf="email.invalid">
            Campo Obrigatório. Insira um e-mail válido (Ex: cliente@gmail.com).
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Celular: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.cel" name="cel" #cel="ngModel" required
            pattern="\d{11}" (blur)="onFieldTouched(cel)" [class.is-invalid]="cel.invalid && (cel.dirty || cel.touched)"
            [class.is-valid]="cel.valid && (cel.dirty || cel.touched)" />
          <div class="invalid-feedback" *ngIf="cel.invalid && (cel.dirty || cel.touched)">
            O número do celular deve conter 11 dígitos com o DDD (Ex: "71993241258").
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>CPF: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf" #cpf="ngModel" required
            pattern="\d{11}" (blur)="onFieldTouched(cpf)" [class.is-invalid]="cpf.invalid && (cpf.dirty || cpf.touched)"
            [class.is-valid]="cpf.valid && (cpf.dirty || cpf.touched)" />
          <div class="invalid-feedback" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
            O CPF deve conter 11 dígitos (Ex: "02356232566").
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Responsável: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.registryUser" name="registryUser"
            value="{{ getUserSession().name }}" readonly />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success" *ngIf="!client.id"
          [disabled]="clientform.invalid || !isFormValid()">
          <i class="fa fa-sync-alt"></i> Cadastrar
        </button>
        <button type="submit" class="btn btn-success" *ngIf="client.id"
          [disabled]="clientform.invalid || !checkForChanges()" (click)="confirmUpdate(client)" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-secondary ml-1" routerLink="/client-list">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
        <button type="button" class="btn btn-danger ml-1" *ngIf="client.id" (click)="confirmDeletion(client)"
          data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa fa-trash"></i> Excluir
        </button>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="row d-flex align-items-center">
          <p class="mx-3">Modificação(ões) do cliente <strong class="text-xl">{{ originalClient.name }}</strong>: </p>
        </div>
        <div *ngIf="updatedData.length > 0" class="modal-body">
          <p *ngFor="let item of updatedData" [innerHTML]="item"></p>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-success" (click)="deleteClient()"
            *ngIf="modalTitle === 'Excluir Cliente'" routerLink="/client-list" data-bs-toggle="modal"
            data-bs-target="#modalDelete">Confirmar</button>
          <button type="button" data-dismiss="modal" class="btn btn-success" (click)="updateClient()"
            *ngIf="modalTitle === 'Atualizar Cliente'" routerLink="client-form/:id" data-bs-toggle="modal"
            data-bs-target="#modalUpdate">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelUpdate();"><i
              class="fa fa-arrow-alt-circle-left"></i> Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Excluindo Cliente <b>{{client.name}}</b>!!
      </div>
      <div class="modal-footer">
        <div ng-app="myApp" ng-controller="myCtrl">
          <div>
            <img src="../../../assets/carregamento.gif" alt="Carregamento" class="progress">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Atualizando Cliente <b>{{client.name}}</b>!!
      </div>
      <div class="modal-footer">
        <div ng-app="myApp" ng-controller="myCtrl">
          <div>
            <img src="../../../assets/carregamento.gif" alt="Carregamento" class="progress">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
